Lab1/ClientSOAP-ws/src/main/wsdl/ClientSOAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.toDoServerSOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://app.toDoServerSOAP/" name="ToDoServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://app.toDoServerSOAP/" schemaLocation="toDoSOAP.xsd"/>
</xsd:schema>
</types>
<message name="removeToDo">
<part name="parameters" element="tns:removeToDo"/>
</message>
<message name="removeToDoResponse">
<part name="parameters" element="tns:removeToDoResponse"/>
</message>
<message name="listToDos">
<part name="parameters" element="tns:listToDos"/>
</message>
<message name="listToDosResponse">
<part name="parameters" element="tns:listToDosResponse"/>
</message>
<message name="addToDo">
<part name="parameters" element="tns:addToDo"/>
</message>
<message name="addToDoResponse">
<part name="parameters" element="tns:addToDoResponse"/>
</message>
<portType name="ToDoServer">
<operation name="removeToDo">
<input wsam:Action="http://app.toDoServerSOAP/ToDoServer/removeToDoRequest" message="tns:removeToDo"/>
<output wsam:Action="http://app.toDoServerSOAP/ToDoServer/removeToDoResponse" message="tns:removeToDoResponse"/>
</operation>
<operation name="listToDos">
<input wsam:Action="http://app.toDoServerSOAP/ToDoServer/listToDosRequest" message="tns:listToDos"/>
<output wsam:Action="http://app.toDoServerSOAP/ToDoServer/listToDosResponse" message="tns:listToDosResponse"/>
</operation>
<operation name="addToDo">
<input wsam:Action="http://app.toDoServerSOAP/ToDoServer/addToDoRequest" message="tns:addToDo"/>
<output wsam:Action="http://app.toDoServerSOAP/ToDoServer/addToDoResponse" message="tns:addToDoResponse"/>
</operation>
</portType>
<binding name="ToDoServerPortBinding" type="tns:ToDoServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listToDos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ToDoServerService">
<port name="ToDoServerPort" binding="tns:ToDoServerPortBinding">
<soap:address location="http://localhost:8081/toDoSOAP"/>
</port>
</service>
</definitions>
