Lab1/ClientSOAP-ws/src/main/wsdl/toDoSOAP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<xs:schema xmlns:tns="http://app.toDoServerSOAP/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://app.toDoServerSOAP/">

<xs:element name="addToDo" type="tns:addToDo"/>

<xs:element name="addToDoResponse" type="tns:addToDoResponse"/>

<xs:element name="listToDos" type="tns:listToDos"/>

<xs:element name="listToDosResponse" type="tns:listToDosResponse"/>

<xs:element name="removeToDo" type="tns:removeToDo"/>

<xs:element name="removeToDoResponse" type="tns:removeToDoResponse"/>

<xs:complexType name="removeToDo">
<xs:sequence>
<xs:element name="arg0" type="tns:toDo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toDo">
<xs:sequence>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeToDoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToDo">
<xs:sequence>
<xs:element name="arg0" type="tns:toDo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToDoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listToDos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listToDosResponse">
<xs:sequence>
<xs:element name="return" type="tns:toDo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>